#container {
	height: 100%;
	section {
		padding-top: 20px;
		#send-message-container {
			height: 50px;
			width: 80px;
			margin: 0 auto;

			#send-message {
				text-align: center;
			}	
		}

		div.main-logo {
			width: 50%; 
			margin: 0 auto;
			img {	
				width: 100%;
			}
		}

		#contact-form {

			@include border-radius(5px);
			display: none;
			width: 400px;
			height: 300px;
			margin: 0 auto;
			padding-top: 10px;
			background-color: #fff;
			form {
				width: 90%;
				margin: auto;
				input {
					@include box-sizing(border-box);
					@include border-radius(3px);
					color: #fff;
					font-size: 1.1em;
					background-color: $sky-blue;
					padding-left: 10px;
					border: none;
					height: 35px;
					width: 100%;
					margin: 5px 0;
				}
				textarea {
					@include border-radius(3px);
					color: #fff;
					background-color: $sky-blue;
					margin-top: 10px;
					resize: none;
					width: 100%;
					height: 150px;
				}
			}
		}
	}
}